:root {
	--white: #fff;
	--gold: #ffd700
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ╔═══════════════════════════╗
   ║────────── INTRO ──────────║
   ╚═══════════════════════════╝ */

.intro {
	background-color: var(--gold);
	padding: 80px;
	display: flex;
}

.intro-image {
	width: 300px;
	height: 300px;
}

.intro-profile-picture {
	width: 300px;
	height: 300px;
}

.intro-image-text {
	color: var(--white);
	font-size: 36px;
	width: 300px;
	text-align: center;
}

.intro-about-me {
	display: flex;
	flex-direction: column;
	padding: 10px 20px;
	margin: 50px 0;
	background-color: red;
}

/* ╔══════════════════════════╗
   ║────────── WORK ──────────║
   ╚══════════════════════════╝ */

.work {
	padding: 20px 20px;
}

.projects {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}

.project {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.project-screenshot {
	width: 200px;
	height: 150px;
	background-color: red;
	padding: 0 10px;
	color: var(--white);
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.project-info {
	width: 200px;
	height: 100px;
	background-color: green;
}

/* ╔═════════════════════════════╗
   ║────────── CONTACT ──────────║
   ╚═════════════════════════════╝ */

.contact {
	background-color: var(--gold);
	text-align: center;
}



.section-title {
	font-size: 36px;
	text-align: center;
	padding-bottom: 30px;
}